body{
    background-image: url("https://i.pinimg.com/originals/83/a4/e4/83a4e4438553509325d352a78c6d781d.gif");
    background-repeat: no-repeat;
    /* background-position: end; */
    background-size: cover;
}